/* RESET RULES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol, menu {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* COMPONENTS */
body {
    background: linear-gradient( to bottom, #4d9288 0px, #4d9288 200px, #dbdbd4 200px, #dbdbd4 100% );
}

/* LAYOUT */

#app {
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
}

/* parte chat */
.chat {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.nome-chat, .scrivi-testo {
    background-color: #F2EEEB;
    height: 60px;
    width: 100%;
}

/* parte sidebar */
.messaggi {
    background-color: aqua;
    height: calc(100% - 120px);
    width: 100%;
}

.side-bar-contatti {
    background-color: #FAFAFA;
    display: none;
}

/* elementi sidebar */
.contatto {
    border: 1px solid black;
    height: 60px;
    display: flex;
    align-items: end;
    padding-left: 10px;
}

.notifiche-bloccate {
    border: 1px solid black;
    height: 70px;
    background-color: #A6D7F9;
    display: flex;
    display: none;
}

.buttons .fa-solid {
  margin-right: 10px;
}

/* notofiche bloccate */
.notifiche-bloccate a i {
  background-color: white;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
}

.notifiche-bloccate div {
  padding-left: 10px;
  padding-top: 15px;
}

.notifiche-bloccate p {
  font-size: 14px;
}

/* search */
.cerca-chat {
  border: 1px solid black;
  height: 30px;
  margin: 5px;
  background-color: white;
}


/* UTILITIES */

ul {
  width: 97%;
}

.img-chat img {
  width: 50px;
  border-radius: 50%;
}

.fa-solid, .fa-regular {
  font-size: 25px;
  color: #B1B1B1;
}

.mio {
  justify-content: space-between;
  background-color: #F2EEEB;
}

.buttons {
  line-height: 45px;
  padding-right: 5px;
  display: none;
}

.cerca-chat i {
  font-size: 18px;
}

input:search {
  border: none;
}


/* MEDIAQUERYS */
@media (min-width: 576px) {
  .side-bar-contatti {
    display: flex;
    flex-direction: column;
    width: 80px;
  }
}

@media (min-width: 992px) {
  #app {
    margin: 0 auto;
    width: 85%;
  }

  #app .container {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .container .side-bar-contatti {
    display: flex;
    width: 380px;
  }

  .buttons {
    display: block;
  }

  .notifiche-bloccate {
    display: flex;
  }
}

/* DEBUG */
